@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

@media all and (max-width: 767px) {
    body #comments {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
}

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#comments {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

#comments a {
    color: red;
}

.comments_header {
    font-size: 28px;
    font-weight: bold;
    font-family: "Arial";
    padding-bottom: 5px;
    padding-top: 10px;
}

.comments_text {
    font-size: 18px;
    font-family: "Arial";
    padding-bottom: 15px;
}