@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

@media all and (max-width: 767px) {
    /* Mobile system should use linear drop downs */
    
    /* Disable all desktop HTML */
    body #column_1 {
        display: none;
    }
    body #column_2 {
        display: none;
    }
    
    /* Enable mobile HTML */
    body #mobile_strip {
        display: inline;
        width: 100%;
    }
    
    #mobile_strip .project_box {
        width: 100%;
        height: auto;
        border-radius: 0px;
        border: none;
        margin: 0px; 
        display: block;
    }
    
    .project_box img {
        width: 100%;
        height: auto;
        float: none;
        display: block;
    }
    
    .project_box .project_info {
        width: 100%;
        height: auto;
        float: none;
        background-color: grey;
        overflow: visible;
        font-family: "Arial";
        opacity: 1;
        display: block;
    }

    .project_info .project_title {
        font-size: 20pt;
        text-align: center;
        padding: 5px 0px;
    }
    
    .project_info .project_comments {
        height: auto;
        padding-left: 15px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 14pt;
        overflow-y: visible;
    }
    
    .project_info .project_links {
        height: auto;
    }
    
    .project_info .project_links a {
        text-decoration: none;
        color: white;
        float: none;
        width: 100%;
        display: block;
        background-color: #333;
        padding: 15px 10px;
        text-align: center;
        font-size: 14pt;
    }
    .project_links a:hover {
        color: white;
        border: none;
        background-color: dimgrey; 
    }
    
    .project_box .project_extender {
        float: none;
        background-color: dimgrey;
        height: 30px;
        width: 100%;
        color: black;
        font-family: "Arial";
        font-size: 16pt;
        text-align: center;
        cursor: pointer;
        display: none;
        
    }
}

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}
#mobile_strip {
    display: none;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#column_1 {
    
    height: auto;
    width: 49%;
    display: inline-block;
}

#column_2 {
    height: auto;
    width: 50%;
    display: inline-block;
}

.project_box {
    position: static;
    background-color: black;
    width: 22vw;
    height: 20vw;
    border-radius: 10px;
    border: solid dimgrey;
    margin-left: 1vw;
    margin-top: 5vw;
    overflow: hidden;
    transition: width 2s;
    transition-delay: 0s;
}

.project_image {
    position: static;
    float: left;
    width: 20vw;
    height: 20vw;
}

.project_info {
    width: 0vw;
    height: 20vw;
    float: left;
    background-color: grey;
    overflow: hidden;
    font-family: "Arial";
    opacity: 0;
    transition: width 2s;
    transition-delay: 0s;
}

.project_title {
    font-size: 2vw;
    padding-left: 15px;
    padding-top: 10px;
}

.project_comments {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 1vw;
    height: 14vw;
    overflow-y: scroll;
}

.project_links {
    overflow: hidden;
    background-color: red;
    height: 6vw;
    display: flex;
}

.project_links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #333;
    font-size: 1.5vw;
    flex-grow: 1;
    text-align: center;
    padding-top: 0.5vw;
}

.project_links a:hover {
    color: black;
    border: none;
    background-color: red;
}

.project_extender {
    
    float: right;
    background-color: dimgrey;
    height: 20vw;
    width: 2vw;
    color: black;
    font-family: "Arial";
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
}
