@media all and (max-width: 767px) {
    /* Desktop navbar */
    body #nb_frame {
        display: none;
    }
    /* Replacement for the navbar on top (logo with burger) */
    body #navbar_mobile_frame_top {
        margin: 0px;
        padding: 0px;
        background-color: black;
        width: 100%;
        display: inline-block;
        font-size: 21pt;
    }
    
    /* Top bar style */
    #navbar_mobile_frame_top #logo {
        float: left;
        text-decoration: none;
        padding: 14px 16px;
        color: grey;
    }
    #navbar_mobile_frame_top #logo div {
        background-color: red;
        display: inline-block;
        padding-bottom: 4px;
        border-radius: 4px;
    }
    #navbar_mobile_frame_top #logo span {
        color: black;
    }
    body #navbar_mobile_burg {
        float:right;
        display: inline-block;
        width: 36pt;
        height: 36pt;
        padding: 9px 14px;
    }
    body #navbar_mobile_burg img {
        width: 100%;
        height: 100%;
    }
    
    /* Side bar style */
    #navbar_mobile_frame_side {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    #navbar_mobile_frame_side .navbar_mobile_links {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    #navbar_mobile_frame_side .navbar_mobile_links:hover {
        background-color: red;
    }
    #navbar_mobile_frame_side #navbar_mobile_close {
        position: absolute;
        text-decoration: none;
        color: red;
        font-size: 25px;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    
    body #title {
        font-size: 27pt;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    
    body #comments {
        margin: 0px;
        min-width: 0px;
        padding-right: 20px;
        width: 100%;
        font-size: 16pt;
    }
}

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}

body {
    background-color: black;
    margin: 0px;
}

#title {
    color: white;
    font-family: "Arial";
    font-size: 42px;
    margin-left: 20%;
    margin-top: 30px;
}

#comments {
    position: absolute;
    margin-left: 20vw;
    min-width: 700px;
    width: 60vw;
    margin-top: 40px;
    padding-top: 20px;
    background-color: #1A1A1A;
    border-radius: 6px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#comments a {
    color: red;
}

.comments_header {
    font-size: 32px;
    font-weight: bold;
    font-family: "Arial";
    padding-bottom: 5px;
    padding-top: 10px;
}

.comments_text {
    font-size: 18px;
    font-family: "Arial";
}

#sidebar {
    position: fixed;
    height: 500px;
    margin-top: 100px;
    margin-left: 20px;
    width: 15vw;
    background-color: #1A1A1A;
    color: white;
    display: none;
}

#sidebar_title {
    padding: 5px;
    font-family: "Arial";
    font-size: 28px;
    text-align: center;
    background-color: red;
    color: black;
}

#sidebar_links {
    width: 100%;
    height: 100%;
}

#sidebar_links a {
    font-size: 28px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: grey;
    text-align: center;
    transition: 0.4s;
}

#sidebar_links a:hover {
    background-color: grey;
    color: lightgrey;
    border: none;
}

#sidebar_links .slideout_content {
    display: none;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
}

#sidebar_links .slideout:hover .slideout_content {
    display: block;
    height: auto;
}

