@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}

/* Everything else */
body {
    background-color: black;
    margin: 0px;
}

/* -------- Page orientation -------- */
#content_list {
    padding-top: 20px;
    border-radius: 10px;
    color: white;
}

#content_list a {
    color: red;
}

#content_megaheader {
    text-align: center;
    font-size: 50px;
    font-family: "Arial";
    font-weight: bold;
}

/* -------- Each site's data -------- */
.content_logo {
    margin: 3% 0;
    width: 100%;
    display: block;
    cursor: pointer;
}

.content_logo img {
    margin: 0 auto;
    width: 33%;
    display: block;
}

.content_container {
    margin: 0 auto;
    box-sizing: border-box;
}

/* -------- HackerRank domains -------- */
.content_subcontainer {
    position: relative;
}

.content_side_title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(-90deg) translate(0, -100%);
    font-family: "Arial";
    font-size: 4vw;
}

/* -------- Specific domain's topic -------- */
.content_topic {
    padding: 0 0 0 5%;
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

.content_topic .topic_title {
    display: block;
    text-align: center;
    font-size: 2em;
}


/* -------- Topic subtopics -------- */
.content_topic ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.content_topic ul li {
    position: relative;
    cursor: pointer;
}

/* -------- Dropdown button -------- */
.content_topic ul .dropdown_button {
    padding: 8px 0 8px 10px;
}

.content_topic ul .dropdown_button:hover {
    background-color: red;
}

.content_topic ul .dropdown_button .topic_caret {
    position: absolute;
    right: 10px;
}

/* -------- Dropdown content -------- */
.content_topic .dropdown_content {
    margin-left: 30px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 1s;
    transition-delay: 0s;
}

.content_topic .dropdown_content a {
    display: block;
}

.content_topic .open .dropdown_button .topic_caret {
    transform: rotateZ(90deg);
}

.content_topic .open .dropdown_content {
    height: auto;
}

@media screen and (max-width : 768px) {
    .content_side_title {
        font-size: 6vw;
    }

    .content_topic {
        width: 93%;
        padding-left: 7%;
    }
}
