/* Everything else */
body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

#statement {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    background-color: grey;
    color: white;
    border: solid 4px #333;
    padding-left: 10px;
    padding-right: 10px;
}

.section_header {
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial";
    padding-bottom: 5px;
}
.section_content {
    font-size: 18px;
    font-family: "Arial";
    padding-bottom: 10px;
}

.code_io {
    background-color: teal;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Code tabs */
#code_tab_box {
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#code_tab_box a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#code_tab_box a:hover {
    background-color: #ddd;
}

#code_tab_box a:focus, .active {
    background-color: #ccc;
}

.code_tab_content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Navigation bar styling */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #dropdown_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, #dropdown:hover #dropdown_btn {
    background-color: red;
}

#dropdown {
    display: inline-block;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown_content a:hover {
    background-color: #f1f1f1
}

#dropdown:hover #dropdown_content {
    display: block;
}
