/* Everything else */
body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

#statement {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: solid 5px #2D2D2D;
    padding-left: 10px;
    padding-right: 10px;
}

.section_header {
    font-size: 24px;
    font-weight: bold;
    font-family: "Arial";
    padding-bottom: 5px;
}
.section_content {
    font-size: 18px;
    font-family: "Arial";
    padding-bottom: 15px;
}

.code_io {
    background-color: #5B4E4E;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Code tabs */
#code_tab_box {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#code_tab_box a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#code_tab_box a:hover {
    background-color: #FF5151;
}

#code_tab_box a:focus, .active {
    background-color: red;
}

.code_tab_content {
    display: none;
    padding: 0px;
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    background-color: #282B2E;
    height: 300px;
    overflow: auto;
}
