body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

#contact_box {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

#contact_header {
    text-align: center;
    padding-top: 30px;
    font-size: 72px;
    padding-bottom: 50px;
}

#contact_methods {
    text-align: center;
}

#contact_methods div {
    display: inline-block;
}

#contact_methods img {
    width: 256px;
    height: 256px;
    padding: 2px;
}