body {
    background-image: url("../img/background_pattern_v3.png");
    background-repeat: repeat;
    margin: 0px;
}

/*#floaty_pane {
    height: 5000px;
    width: 800px; 
    left: 50%;
    margin-left: -400px;
    position: relative;
    background-color: black;
    color: white;
}*/

#title_card {
    text-align: center;
    padding-top: 20%;
    font-size: 150px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #dropdown_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, #dropdown:hover #dropdown_btn {
    background-color: red;
}

#dropdown {
    display: inline-block;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown_content a:hover {
    background-color: #f1f1f1
}

#dropdown:hover #dropdown_content {
    display: block;
}