body {
    margin: 0px;
    transition: background-color 2s, color 2s;
}

#r_front {
    position: absolute;
    height: auto%;
    top: 48px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
}

#r_title {
    text-align: center;
    margin-top: 200px;
    font-size: 1200%;
    color: #333;
}

#r_title mark {
    background-color: red;
    padding-bottom: 30px;
    border-radius: 30px;
}

#r_subtitle {
    font-size: 380%;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

#code_words {
    position: absolute;
    height: auto;
    top: 48px;
    bottom: 0; 
    left: 0;
    right: 50%;
    background-color:black;
    color: green;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 20px;
    overflow: auto;
	z-index: 0;
    display: none;
}

/* Chat Box */
#chatBox {
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    top: 60px;
    left: 10px;
    background-color: grey;
    transition: background-color 2s;
}

#chatBox_topBar {
    width: 300px;
    height: 20px;
    background-color: #33c;
    color: white;
    cursor: pointer;
    transition: background-color 2s, color 2s;
}

#chatBox_chat {
    background-color: #333;
    color: white;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 150px;
    width: 280px;
    overflow: auto;
    transition: background-color 2s, color 2s;
}

#chatBox_chat_controls {
    margin-left: 5px;
    height: 40px;
}

#chatBox_chat_controls textarea {
    width: 220px;
    height: 40px;
    border: none;
    resize: none;   
}

#chatBox_chat_controls button {
    border: none;
    height: 42px;
    width: 50px;
    border: none;
    margin-left: 5px;
    position: absolute;
}

#chatBox_chat_status {
    padding-left: 8px;
    display: none;
    transition: color 2s;
}
/*#floaty_pane {
    height: 5000px;
    width: 800px; 
    left: 50%;
    margin-left: -400px;
    position: relative;
    background-color: black;
    color: white;
}*/
