html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#text-output {
    padding-right: 10px;
    padding-bottom: 2em;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    color: green;
    box-sizing: border-box;
}

#text-input {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#text-input #text-input-marker {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    height: 2em;
    color: green;
    text-align: left;
}

#text-input #text-input-marker::before {
    height: 100%;
    width: 0;
    display: inline-block;
    content: '';
    vertical-align: middle;
}

#text-input #text-input-marker span {
    vertical-align: -moz-middle-with-baseline;
}

#text-input #text-input-box {
    padding-right: 10px;
    padding-left: 40px;
    width: 100%;
    height: 2em;
    background-color: black;
    color: green;
    border: none;
    box-sizing: border-box;
}

#anchor {
    margin: 0 auto;
    width: 700px;
}

.output-line {
    text-align: center;
}

.formatted-text {
    margin: 0;
}

.nav-hover {
    position: absolute;
    width: 222px;
    height: 160px;
    text-decoration: none;
    z-index: 3;
}

.nav-hover .formatted-text {
    cursor: pointer;
    color: green;
    visibility: hidden;
}

.nav-hover:hover .formatted-text {
    visibility: visible;
}
