@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}

@keyframes intro_inside {
    from {width: 0em;}
    to {width: 3.1em;}
}
@keyframes intro_color {
    from {opacity: 0}
    to {opacity: 1}
}

body {
    margin: 0px;
    background-color: black;
}

#r_front {
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 0;
}

/* The m {luzarow} title card */
#r_title {
    text-align: center;
    margin-top: 30vh; /* Scale centering with viewport height */
    font-size: 11vw;  /* Scale font size to fit viewport width */
    color: #333;
}
/* Children use scaled em measurements */
#r_title_highlight {
    position: relative;
    background-color: red;
    width: 1em;
    padding-bottom: .2em;
    border-radius: 0.2em;
    display: inline;
    color: black;
}
#r_title_inside {
    position: relative;
    width: 0.5em;
    color: black;
    font-size: 11vw;
    text-align: center;
    display: inline-block;
    opacity: 0;
    animation-name: intro_inside, intro_color;
    animation-duration: 2s, 2s;
    animation-delay: 0s, 2s;
    animation-fill-mode: forwards;
}
#r_title_brace_left {
    width: 0.5em;
    font-size: 11vw;
    position: relative;
    display: inline-block;
}
#r_title_brace_right {
    width: 0.5em;
    font-size: 11vw;
    position: relative;
    display: inline-block;
}

/* Joke subtitle */
#r_subtitle {
    font-size: 3.7vw;
    color: #333;
    text-align: center;
    margin-top: 1em;
}
