@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

@media all and (max-width: 767px) {
    
}

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}

@keyframes intro_inside {
    from {width: 0em;}
    to {width: 3.1em;}
}
@keyframes intro_color {
    from {opacity: 0}
    to {opacity: 1}
}

body {
    margin: 0px;
    background-color: black;
}

#r_front {
    position: absolute;
    width: 100%;
    background-color: black;
    z-index: 0;
}

/* The m {luzarow} title card */
#r_title {
    text-align: center;
    margin-top: 30vh; /* Scale centering with viewport height */
    font-size: 11vw;  /* Scale font size to fit viewport width */
    color: #333;
}
/* Children use scaled em measurements */
#r_title_highlight {
    position: relative;
    background-color: red;
    width: 1em;
    padding-bottom: .2em;
    border-radius: 0.2em;
    display: inline;
    color: black;
}
#r_title_inside {
    position: relative;
    width: 0.5em;
    color: black;
    font-size: 11vw;
    text-align: center;
    display: inline-block;
    opacity: 0;
    animation-name: intro_inside, intro_color;
    animation-duration: 2s, 2s;
    animation-delay: 0s, 2s;
    animation-fill-mode: forwards;
}
#r_title_brace_left {
    width: 0.5em;
    font-size: 11vw;
    position: relative;
    display: inline-block;
}
#r_title_brace_right {
    width: 0.5em;
    font-size: 11vw;
    position: relative;
    display: inline-block;
}

/* Joke subtitle */
#r_subtitle {
    font-size: 3.7vw;
    color: #333;
    text-align: center;
    margin-top: 1em;
}

/*
#code_words {
    position: absolute;
    height: auto;
    top: 48px;
    bottom: 0; 
    left: 0;
    right: 50%;
    background-color:black;
    color: green;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 15px;
    font-size: 20px;
    overflow: auto;
	z-index: 0;
    display: none;
} */

/* Chat Box */
/*#chatBox {
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    top: 60px;
    left: 10px;
    background-color: grey;
    transition: background-color 2s;
    display: none;
}

#chatBox_topBar {
    width: 300px;
    height: 20px;
    background-color: #33c;
    color: white;
    cursor: pointer;
    transition: background-color 2s, color 2s;
}

#chatBox_chat {
    background-color: #333;
    color: white;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 150px;
    width: 280px;
    overflow: auto;
    transition: background-color 2s, color 2s;
}

#chatBox_chat_controls {
    margin-left: 5px;
    height: 40px;
}

#chatBox_chat_controls textarea {
    width: 220px;
    height: 40px;
    border: none;
    resize: none;   
}

#chatBox_chat_controls button {
    border: none;
    height: 42px;
    width: 50px;
    border: none;
    margin-left: 5px;
    position: absolute;
}

#chatBox_chat_status {
    padding-left: 8px;
    display: none;
    transition: color 2s;
}*/
/*#floaty_pane {
    height: 5000px;
    width: 800px; 
    left: 50%;
    margin-left: -400px;
    position: relative;
    background-color: black;
    color: white;
}*/
