/* Basic page theme */ 
 body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

/* Navigation bar styling */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #dropdown_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, #dropdown:hover #dropdown_btn {
    background-color: red;
}

#dropdown {
    display: inline-block;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown_content a:hover {
    background-color: #f1f1f1
}

#dropdown:hover #dropdown_content {
    display: block;
}

/* Everything else */
#box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#manga_box {
	flex: 1 1 auto;
	background-color: white;
}

.btn_nav {
	height: 100%;
	width: 100px;
}



