body {
    background-image: url("../img/background_pattern_v4.png");
    background-repeat: repeat;
    margin: 0px;
}

#top_padding {
    padding: 10px;
}

.mod_box {
    width:50%;
    margin-left:25%;
    text-align: center;

    color:white;
    background-color: black;
    border: solid;
    border-width: 2px;
    border-color: grey;
    
}
