<div class="slide">
	<div class="left_container">
		<div class="image_square">
			<img src="{@imgSrc}">
		</div>
		<div class="button_container">
			<a class="app_button" href="{@linkGh}">
				<span>View on Github</span>
			</a>
			<a class="app_button" href="{@linkLive}">
				<span>View Live</span>
			</a>
		</div>
	</div><!--
	--><div class="right_container_768">
		<div class="dependency_header">
			Dependencies
		</div>
		<div class="dependency_list">
			{@dependencies}
		</div>
	</div><!--
	--><div class="middle_container">
		<div class="title">
			{@title}
		</div>
		<div class="summary">
			{@summary}
		</div>
	</div><!--
	--><div class="right_container">
		<div class="dependency_header">
			Dependencies
		</div>
		<div class="dependency_list">
			{@dependencies}
		</div>
	</div>
</div>
