<div id="navbar_mobile_frame_top">
    <a id="logo" href="https://mluzarow.github.io">
        m <div>
            <span>{luzarow}</span>
        </div>
    </a>
    <a href="javascript:void(0);" id="navbar_mobile_burg" onclick="navbarMobileOpen ()">
        <img src="img/burg.png">
    </a>
</div>

<div id="navbar_mobile_frame_side">
    <a href="javascript:void(0);" id="navbar_mobile_close" onclick="navbarMobileClose ()">
        &times;
    </a>
    <a href="https://mluzarow.github.io/blog" class="navbar_mobile_links">
        Blog
    </a>
    <a href="https://mluzarow.github.io/apps" class="navbar_mobile_links">
        Apps
    </a>
    <a href="https://mluzarow.github.io/snippets" class="navbar_mobile_links">
        Snippets
    </a>
    <a href="https://mluzarow.github.io/about" class="navbar_mobile_links">
        About
    </a>
    <a href="https://mluzarow.github.io/contact" class="navbar_mobile_links">
        Contact
    </a>
</div>
